section(aria-labelledby='trending-heading')
  .max-w-7xl.mx-auto.py-24.px-4(class='sm:px-6 sm:py-32 lg:pt-32 lg:px-8')
    div(class='md:flex md:items-center md:justify-between')
      h2#favorites-heading.text-2xl.font-extrabold.tracking-tight.text-gray-900 Trending Products
      a.hidden.text-sm.font-medium(href='#' class='md:block')
        | Shop the collection
        span(aria-hidden='true')  &rarr;
    .mt-6.grid.grid-cols-2.gap-x-4.gap-y-10(class='sm:gap-x-6 md:grid-cols-4 md:gap-y-0 lg:gap-x-8')
      .group.relative
        .w-full.h-56.rounded-md.overflow-hidden(class='group-hover:opacity-75 lg:h-72 xl:h-80')
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg' alt='Hand stitched, orange leather long wallet.')
        h3.mt-4.text-sm.text-gray-700
          a(href='#')
            span.absolute.inset-0
            |                     Leather Long Wallet
        p.mt-1.text-sm.text-gray-500 Natural
        p.mt-1.text-sm.font-medium.text-gray-900 $75
      .group.relative
        .w-full.h-56.rounded-md.overflow-hidden(class='group-hover:opacity-75 lg:h-72 xl:h-80')
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg' alt='Hand stitched, orange leather long wallet.')
        h3.mt-4.text-sm.text-gray-700
          a(href='#')
            span.absolute.inset-0
            |                     Leather Long Wallet
        p.mt-1.text-sm.text-gray-500 Natural
        p.mt-1.text-sm.font-medium.text-gray-900 $75
      .group.relative
        .w-full.h-56.rounded-md.overflow-hidden(class='group-hover:opacity-75 lg:h-72 xl:h-80')
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg' alt='Hand stitched, orange leather long wallet.')
        h3.mt-4.text-sm.text-gray-700
          a(href='#')
            span.absolute.inset-0
            |                     Leather Long Wallet
        p.mt-1.text-sm.text-gray-500 Natural
        p.mt-1.text-sm.font-medium.text-gray-900 $75
      .group.relative
        .w-full.h-56.rounded-md.overflow-hidden(class='group-hover:opacity-75 lg:h-72 xl:h-80')
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/home-page-04-trending-product-02.jpg' alt='Hand stitched, orange leather long wallet.')
        h3.mt-4.text-sm.text-gray-700
          a(href='#')
            span.absolute.inset-0
            |                     Leather Long Wallet
        p.mt-1.text-sm.text-gray-500 Natural
        p.mt-1.text-sm.font-medium.text-gray-900 $75
      // More products...
    .mt-8.text-sm(class='md:hidden')
      a.font-medium.text-themeColor(href='#' class='hover:text-themeColorHover')
        | Shop the collection
        span(aria-hidden='true')  &rarr;
