section.bg-gray-50.border-t.border-gray-200(aria-labelledby='perks-heading')
  h2#perks-heading.sr-only Our perks
  .max-w-7xl.mx-auto.py-24.px-4(class='sm:px-6 sm:py-32 lg:px-8')
    .grid.grid-cols-1.gap-y-12(class='sm:grid-cols-2 sm:gap-x-6 lg:grid-cols-4 lg:gap-x-8 lg:gap-y-0')
      .text-center(class='md:flex md:items-start md:text-left lg:block lg:text-center')
        div(class='md:flex-shrink-0')
          .flow-root
            img.-my-1.h-24.w-auto.mx-auto(src='../src/images/product-tailwind.svg' alt='')
        .mt-6(class='md:mt-0 md:ml-4 lg:mt-6 lg:ml-0')
          h3.text-sm.font-semibold.tracking-wide.uppercase.text-gray-900
            | Free returns
          p.mt-3.text-sm.text-gray-500
            | Not what you expected? Place it back in the parcel and attach the pre-paid postage stamp.
      .text-center(class='md:flex md:items-start md:text-left lg:block lg:text-center')
        div(class='md:flex-shrink-0')
          .flow-root
            img.-my-1.h-24.w-auto.mx-auto(src='../src/images/calendar-tailwind.svg' alt='')
        .mt-6(class='md:mt-0 md:ml-4 lg:mt-6 lg:ml-0')
          h3.text-sm.font-semibold.tracking-wide.uppercase.text-gray-900
            | Delivery 10-14 days
          p.mt-3.text-sm.text-gray-500
            | We offer a delivery service that has never been done before. Checkout today and receive your products within hours.
      .text-center(class='md:flex md:items-start md:text-left lg:block lg:text-center')
        div(class='md:flex-shrink-0')
          .flow-root
            img.-my-1.h-24.w-auto.mx-auto(src='../src/images/letter-tailwind.svg' alt='')
        .mt-6(class='md:mt-0 md:ml-4 lg:mt-6 lg:ml-0')
          h3.text-sm.font-semibold.tracking-wide.uppercase.text-gray-900
            | Happy discount
          p.mt-3.text-sm.text-gray-500
            | Looking for a deal? You can use the code &quot;ALLHAPPY&quot; at checkout and get money off all year round.
      .text-center(class='md:flex md:items-start md:text-left lg:block lg:text-center')
        div(class='md:flex-shrink-0')
          .flow-root
            img.-my-1.h-24.w-auto.mx-auto(src='../src/images/env_tailwind.svg' alt='')
        .mt-6(class='md:mt-0 md:ml-4 lg:mt-6 lg:ml-0')
          h3.text-sm.font-semibold.tracking-wide.uppercase.text-gray-900
            | For the planet
          p.mt-3.text-sm.text-gray-500
            | We&rsquo;ve pledged 1% of sales to the preservation and restoration of the natural environment.
