// Image gallery
.flex.flex-col-reverse(x-data='Components.tabs()' @tab-click.window='onTabClick' @tab-keydown.window='onTabKeydown')
  // Image selector
  .hidden.mt-6.w-full.max-w-2xl.mx-auto(class='sm:block lg:max-w-none')
    .grid.grid-cols-4.gap-6(aria-orientation='horizontal' role='tablist')
      button#tabs-1-tab-1.relative.h-24.bg-white.rounded-md.flex.items-center.justify-center.text-sm.font-medium.uppercase.text-gray-900.cursor-pointer(class='hover:bg-gray-50 focus:outline-none focus:ring focus:ring-offset-4 focus:ring-opacity-50' x-data='Components.tab(0)' aria-controls='tabs-1-panel-1' role='tab' x-init='init()' @click='onClick' @keydown='onKeydown' @tab-select.window='onTabSelect' :tabindex='selected ? 0 : -1' :aria-selected="selected ? 'true' : 'false'" type='button' tabindex='-1' aria-selected='false')
        span.sr-only
          | Angled view
        span.absolute.inset-0.rounded-md.overflow-hidden
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-01.jpg' alt='')
        span.absolute.inset-0.rounded-md.ring-2.ring-offset-2.pointer-events-none(aria-hidden='true' x-state:on='Selected' x-state:off='Not Selected' :class="{ 'ring-gray-400': selected, 'ring-transparent': !(selected) }")
      button#tabs-1-tab-2.relative.h-24.bg-white.rounded-md.flex.items-center.justify-center.text-sm.font-medium.uppercase.text-gray-900.cursor-pointer(class='hover:bg-gray-50 focus:outline-none focus:ring focus:ring-offset-4 focus:ring-opacity-50' x-data='Components.tab(0)' aria-controls='tabs-1-panel-2' role='tab' x-init='init()' @click='onClick' @keydown='onKeydown' @tab-select.window='onTabSelect' :tabindex='selected ? 0 : -1' :aria-selected="selected ? 'true' : 'false'" type='button' tabindex='0' aria-selected='true')
        span.sr-only
          | Front view
        span.absolute.inset-0.rounded-md.overflow-hidden
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-02.jpg' alt='')
        span.absolute.inset-0.rounded-md.ring-2.ring-offset-2.pointer-events-non(aria-hidden='true' x-state:on='Selected' x-state:off='Not Selected' :class="{ 'ring-gray-400': selected, 'ring-transparent': !(selected) }")
      button#tabs-1-tab-3.relative.h-24.bg-white.rounded-md.flex.items-center.justify-center.text-sm.font-medium.uppercase.text-gray-900.cursor-pointer(class='hover:bg-gray-50 focus:outline-none focus:ring focus:ring-offset-4 focus:ring-opacity-50' x-data='Components.tab(0)' aria-controls='tabs-1-panel-3' role='tab' x-init='init()' @click='onClick' @keydown='onKeydown' @tab-select.window='onTabSelect' :tabindex='selected ? 0 : -1' :aria-selected="selected ? 'true' : 'false'" type='button' tabindex='-1' aria-selected='false')
        span.sr-only
          | Back view
        span.absolute.inset-0.rounded-md.overflow-hidden
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-03.jpg' alt='')
        span.ring-transparent.absolute.inset-0.rounded-md.ring-2.ring-offset-2.pointer-events-none(aria-hidden='true' x-state:on='Selected' x-state:off='Not Selected' :class="{ 'ring-gray-400': selected, 'ring-transparent': !(selected) }")
      button#tabs-1-tab-4.relative.h-24.bg-white.rounded-md.flex.items-center.justify-center.text-sm.font-medium.uppercase.text-gray-900.cursor-pointer(class='hover:bg-gray-50 focus:outline-none focus:ring focus:ring-offset-4 focus:ring-opacity-50' x-data='Components.tab(0)' aria-controls='tabs-1-panel-4' role='tab' x-init='init()' @click='onClick' @keydown='onKeydown' @tab-select.window='onTabSelect' :tabindex='selected ? 0 : -1' :aria-selected="selected ? 'true' : 'false'" type='button' tabindex='-1' aria-selected='false')
        span.sr-only
          | Back angle open view
        span.absolute.inset-0.rounded-md.overflow-hidden
          img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-04.jpg' alt='')
        span.ring-transparent.absolute.inset-0.rounded-md.ring-2.ring-offset-2.pointer-events-none(aria-hidden='true' x-state:on='Selected' x-state:off='Not Selected' :class="{ 'ring-gray-400': selected, 'ring-transparent': !(selected) }")
  .w-full.aspect-w-1.aspect-h-1
    #tabs-1-panel-1(x-description='Tab panel, show/hide based on tab state.' x-data='Components.tabPanel(0)' aria-labelledby='tabs-1-tab-1' x-init='init()' x-show='selected' @tab-select.window='onTabSelect' role='tabpanel' tabindex='0' style='display: none;')
      img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-01.jpg' alt='Angled front view with bag zipped and handles upright.' class='sm:rounded-lg')
    #tabs-1-panel-2(x-description='Tab panel, show/hide based on tab state.' x-data='Components.tabPanel(0)' aria-labelledby='tabs-1-tab-2' x-init='init()' x-show='selected' @tab-select.window='onTabSelect' role='tabpanel' tabindex='0')
      img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-02.jpg' alt='Front view with bag zipped and handles upright.' class='sm:rounded-lg')
    #tabs-1-panel-3(x-description='Tab panel, show/hide based on tab state.' x-data='Components.tabPanel(0)' aria-labelledby='tabs-1-tab-3' x-init='init()' x-show='selected' @tab-select.window='onTabSelect' role='tabpanel' tabindex='0' style='display: none;')
      img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-03.jpg' alt='Back view with bag zipped and straps hanging down.' class='sm:rounded-lg')
    #tabs-1-panel-4(x-description='Tab panel, show/hide based on tab state.' x-data='Components.tabPanel(0)' aria-labelledby='tabs-1-tab-4' x-init='init()' x-show='selected' @tab-select.window='onTabSelect' role='tabpanel' tabindex='0' style='display: none;')
      img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/product-page-03-product-04.jpg' alt='Back angled view with bag open and handles to the side.' class='sm:rounded-lg')
// End Image Gallery
