@tailwind base;
@tailwind components;
@tailwind utilities;

/* .lemon-wrap {
  margin: auto;
  max-width: 1650px;
} */
.lemon-nav a:hover {
  text-decoration: underline;
}

button:focus {
  outline: 0px dotted;
  outline: 0px auto -webkit-focus-ring-color;
  box-shadow: none;
}
 
* {
  --tw-ring-color: none;
}

input[type="checkbox"]{
  color: #c9dc90;
}