.bg-white.relative.overflow-hidden.my-24.px-4
  // Decorative background image and gradient
  .absolute.inset-0(aria-hidden='true')
    .absolute.inset-0.max-w-7xl.mx-auto.overflow-hidden(class='xl:px-8')
      img.w-full.h-full.object-center.object-cover(src='https://tailwindui.com/img/ecommerce-images/home-page-02-sale-full-width.jpg' alt='')
    .absolute.inset-0.bg-white.bg-opacity-75
    .absolute.inset-0.bg-gradient-to-t.from-white.via-white
  // Callout
  section.relative.max-w-7xl.mx-auto.pt-32.px-4.flex.flex-col.items-center.text-center(aria-labelledby='sale-heading' class='sm:px-6 lg:px-8')
    .max-w-2xl.mx-auto(class='lg:max-w-none')
      h2#sale-heading.text-4xl.font-extrabold.tracking-tight.text-gray-900(class='sm:text-5xl lg:text-6xl')
        | Get 25% off during our one-time sale
      p.mt-4.max-w-xl.mx-auto.text-xl.text-gray-600
        | Most of our products are limited releases that won&apos;t come back. Get your favorite items while they&apos;re in stock.
      a.mt-6.inline-block.w-full.bg-gray-900.border.border-transparent.rounded-md.py-3.px-8.font-medium.text-white(href='#' class='hover:bg-gray-800 sm:w-auto') Get access to our one-time sale
