.border-b.border-gray-200
  nav.mx-auto.px-4(aria-label='Breadcrumb' class='sm:px-6 lg:px-8')
    ol.flex.items-center.space-x-4.py-4(role='list')
      li
        .flex.items-center
          a.mr-4.text-sm.font-medium.text-gray-900(href='#')
            | Men
          svg.h-5.w-auto.text-gray-300(viewbox='0 0 6 20' xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
            path(d='M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z' fill='currentColor')
      li.text-sm
        .flex.items-center
          a.mr-4.text-sm.font-medium.text-gray-900(href='#')
            | New Arrival
          svg.h-5.w-auto.text-gray-300(viewbox='0 0 6 20' xmlns='http://www.w3.org/2000/svg' aria-hidden='true')
            path(d='M4.878 4.34H3.551L.27 16.532h1.327l3.281-12.19z' fill='currentColor')
      li.text-sm
        a.font-medium.text-gray-500(href='#' aria-current='page' class='hover:text-gray-600')
          | Zip Tote Basket
